<form action="/" method="post" class="needs-validation" novalidate>
  <div class="mb-3">
    <input class="form-control bg-light border-0 p-2" type="url" name="url" id="url" placeholder="Input URL here..."
      size="50" style="outline: none;" required>
    <div class="valid-feedback">OK</div>
    <div class="invalid-feedback">This field is required</div>
  </div>
  <div class="d-grid col-6 mx-auto">
    <button type="submit" class="btn btn-outline-primary my-2" title="縮網址產生器">Shorten</button>
  </div>
</form>

<script>
  //Bootstrap validation @5.1
  (function () {
    'use strict'
    
    var forms = document.querySelectorAll('.needs-validation')

    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>