<p class="fs-5">Success! Please use this link:</p>
<a href="http://localhost:3000/shortener/{{ item.randomString }}" target="_blank" rel="noreferrer"
  class="text-decoration-none" id="url">
  http://localhost:3000/shortener/{{ item.randomString }}
</a>
<div class="p-3">
  <div class="w-100 text-center">
    <input type="button" class="btn btn-primary" id="btn-copy" data-toggle="tooltip" title="Copy to Clipboard"
      value="Copy" readonly />
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // DOM Ready!
    const button = document.querySelector('#btn-copy')
    button.addEventListener('click', copyLink)
  });

  function copyLink() {
    let copyText = document.getElementById("url")

    const selection = window.getSelection();

    const range = document.createRange();

    range.selectNodeContents(copyText);

    selection.removeAllRanges();

    selection.addRange(range);

    document.execCommand('copy');
  }
</script>