<p class="fs-5">Success! Please use this link:</p>
<a href="http://localhost:3000/shortener/{{ item.randomString }}" target="_blank" rel="noreferrer"
  class="text-decoration-none" id="url">
  http://localhost:3000/shortener/{{ item.randomString }}
</a>
<div class="p-3">
  <div class="w-100 text-center">
    <input type="button" class="btn btn-primary" id="btn-copy" data-toggle="tooltip" title="Copy to Clipboard"
      value="Copy" readonly />
    <div class="mt-2">
      <small>點擊圖片返回</small>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/resultPage_copyFunction.js"></script>
{{!--
寫成 src="/public/javascripts/resultPage_copyFunction.js"，
DevTool: Refused to execute script from 'http://localhost:3000/public/javascripts/resultPage_copyFunction.js' because
its MIME
type ('text/html') is not executable, and strict MIME type checking is enabled.
--}}